body{
  margin:0;
  background: #fff;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
}
#containerL{
	position: absolute;
	background: fixed;
	height:100vh;
	width:300px;
	background-color: #f2f3f7;
	left:150px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
#Profile-Image img{
	position: absolute;
    top:40px;
    left:20px; 
    clip-path: circle(120px);
}
#Name{
	position: absolute;
	top:310px;
	font-weight: bold;
}
#prof{
	position:absolute;
	top:335px;
}
#menu{
	position: absolute;
	line-height: 40px;
	text-align: center;
	top:400px;
	list-style: none;
	text-decoration-color: #fff;
}
a{
	position: relative;
	text-decoration: none;
	color: rgb(0 0 0 / 70%);
}
a:after{
	content:"";
	position: absolute;
	background-color:#2c98f0;
	height: 3px;
	width: 0;
	left:0;
	top:18px;
	transition: all .5s cubic-bezier(.175,.885,.32,1.275);
}
a:hover{
	color:#2c98f0 ;
}
a:hover:after{
	left: 0;
	width: 100%;
}
#containerR{
	position: absolute;
	height:800px;
	width:500px;
	background-color: #f2f3f7;
	left:500px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}